.menuMain{
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center ;
  background-color: rgb(254, 251, 246);
}

.menu{
  display: flex;
  flex-direction: column;
  align-items: center ;
  text-align: left;
  margin: 5px auto;
  height: 100%;
  width: 90vw;
  padding-bottom: 2rem;

}
.menu h1{
  width: 100%;
  height: fit-content;
  font-size: 4rem;
  margin: 2rem 0 0 0;
  padding: 0;
}

.produits{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
  width: 100%;
  padding: 0;
  margin-top: 0;

}

 .produits li{
  display: flex;
  flex-direction: column;
  width: calc(25% - 40px);
  height: calc(50% - 40px);
  margin:20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  list-style: none;
  font-size: 2rem;

} 
.produits li p{
  font-size: 3rem;
  margin: 0.5rem;
}

.photo{
    max-width: 50%; 
    border-radius: 20px;
  }

.acheterMenu{
  background-color: #FBB731;
  font-size: 2.5rem;
  border-color: #FBB731;
  border-radius: 20px; 
}

button:hover {
  background-color: #c48d21;
}

@media screen and (max-width: 1200px) {
  .menuMain{
    height:fit-content;
  }
  .menu{
    width: 100%; 
  }
  .produits li{
    width: 100%;
    height: 30%;
    margin:10px auto;
  }
  .menu h1{
    font-size: 3rem;
    margin-left: 1rem;
  }
  .produits li p{
    margin-top: 0;
    font-size: 0.8rem;
  }
  .acheterMenu{
    font-size: 2rem;
  
  }

}
