html {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  max-width: 50rem;
  margin: 0 auto;
  padding: 1rem;
}

main {
  flex: 1;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 1rem;
}

.toast {
  position: fixed;
  top: 0;
  /* make it  in the center horizontal without affecting the width*/
  right: 50%;
  -webkit-transform: translate(-10%);
  -moz-transform: translate(-10%);
  transform: translate(-10%);
}
